#input {
  width: 400px;
  height: 40px;
  margin-left: 30px;
  padding: 5px;

}

button {
  height: 54px;
  width: 50px;
  position: relative;
  bottom: 12px;
}

#myUL li {
  list-style:none;
  width: 400px;
  height: 30px;
  position: relative;
  right: 10px;
  padding-top: 15px;
  border: 0.5px solid black;
  font-size: 25px;
  font-family: "Arial";
  padding-bottom: 10px;
  margin-bottom: 15px
}

.removeBtn {
  position: relative;
  left: 405px;
  bottom: 15px;
  height: 56px;
  width: 65px;
}

.checked {
  text-decoration: line-through;
  background-color: grey;
}
